.hmrc-page-heading {
  display: table;
  width: 100%;
  margin-top: govuk-em(60, 32);
  margin-bottom: govuk-em(30, 32);
  padding-top: 8px;
  clear: both;
  table-layout: fixed;

  .hmrc-caption-xl {
    display: table-header-group;
  }
}

@function govuk-em($value, $context-font-size) {
  @if (unitless($value)) {
    $value: $value * 1px;
  }
  @if (unitless($context-font-size)) {
    $context-font-size: $context-font-size * 1px;
  }
  @return $value / $context-font-size * 1em;
}